---
title: Hiking in Wunderlich Park
---
{% include preamble.html %}

<div class="container-fluid">
  <div class="row">
    <h2 style="padding-left: 0.5em">Wunderlich Park <img style="vertical-align: bottom" title="no dogs &#x1F61E;" src="../no_dogs.gif" /></h2>
  </div>

<!-- add carousel here -->

  <div class="row">
    <div class="col-xs-12">
      <br />Park web page: <a target="_blank" href="https://parks.smcgov.org/locations/wunderlich-park">https://parks.smcgov.org/locations/wunderlich-park</a>
      <br /><br />

      Parking at

      <!-- <div style="display: inline" itemscope itemtype="http://schema.org/GeoCoordinates"><spanitemprop="latitude">37.376</span>,<span itemprop="longitude">-122.222968</span></div> -->
      <!-- <div style="display: inline" class="h-geo geo"><span class="p-latitude latitude">37.376</span>,<span class="p-longitude longitude">-122.222968</span></div>
      -->
      <!--
      (<a target="_blank" href="https://www.google.com/maps/place/37%C2%B022'33.6%22N+122%C2%B013'22.7%22W/@37.376,-122.222968,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0">map</a>).
    -->

      <div class="h-card vcard" style="display: inline">Street address:
        <span class="p-org org" style="display: none">Wunderlich Park</span>
        <span class="p-street-address street-address">4040 Woodside Road</span>,
        <span class="p-locality locality">Woodside<span>, <span class="p-region region">CA</span>
        <span class="p-postocal-code postal-code">94062-2545</span>
        (Mobile: <a href="waze://place=ChIJk-_cQyakj4ARNa9PH0Hq80I&ll=37.40977890%2C-122.26165800&navigate=yes">Waze</a>,
        <a href="comgooglemaps://?daddr=4040+Woodside+Road,Woodside,+CA,94062-2545&directionsmode=driving">Google maps</a>,
        <a href="http://maps.apple.com/?daddr=4040+Woodside+Road,Woodside,+CA,94062-2545&dirflg=d">Apple maps</a>)
      </div>
      <br /><br />

      <!--
      My usual routes:<br />
      <ul>
        <li><a target="_blank" href="http://www.mapmyhike.com/workout/1175612301">8 miles, 3 hrs</a></li>
        <li><a target="_blank" href="http://www.mapmyhike.com/workout/1154498127">6 miles, 2.5 hrs</a></li>
      </ul>
    -->

    <!--
      The hike to the peak is about 1300 ft of elevation gain in 3 miles.<br />
      <img src="elevation.jpg" />
    -->

      <br /><br />
      The trail is NOT dog friendly &#x1F61E;. <img style="vertical-align: bottom" title="no dogs &#x1F61E;" src="../no_dogs.gif" /><br /><br />

      <!--
      More photos from Wunderlich Park on Flickr: <a target="_blank" href="https://www.flickr.com/photos/regexman/albums/72157669928155803">https://www.flickr.com/photos/regexman/albums/72157669928155803</a><br /><br />
      -->

    </div> <!-- ./col -->

    <!--
    <div class="col-xs-4">
      <a target="_blank" href="parking.jpg"><img src="parking_small.jpg" class="img-responsive" /></a>
    </div>
    -->
  </div> <!-- ./row -->

</div> <!-- /.container-fluid -->

{% include postamble.html %}
