---
title: Hiking in Sunol Regional Wilderness
---
{% include preamble.html %}

        <div class="container-fluid">
            <div class="row">
                <h2 style="padding-left: 0.5em">Sunol Regional Wilderness &#x1F415;</h2>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <a target="_blank" href="panorama_full.jpg"><img class="img-responsive h-img" title="" src="panorama.jpg" /></a>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <br /><br />
                    Park web page: <a target="_blank" href="http://www.ebparks.org/parks/sunol">http://www.ebparks.org/parks/sunol</a>
                    <br /><br />
                    <a target="_blank" href="http://www.accuweather.com/en/us/sunol-ca/94586/weather-forecast/2178978">Weather forecast</a>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <hr />
                <div class="col-md-8">
                    Starting from Geary Rd:<br /><br />
                    Parking at 37.515504,-121.830669 ({% include maps.html addr="37.515504,-121.830669" latlon="37.515504,-121.830669" %}). Parking fee: $5.
                    <br /><br />
                    My usual routes:<br />
                    <ul>
                        <li><a target="_blank" href="http://www.mapmyhike.com/workout/1257700943">6.23 miles, 2-3 hrs</a><br />
                            <b>Route:</b> Start on asphalt down Geary Rd.
                            Once inside the fence, it becomes Ohlone Rd and is
                            packed gravel.  Turn left at Little Yosemite up
                            Cerro Este Rd (packed dirt and gravel).  Follow
                            Cerro Este Rd straight onto McCorkle Trail, left
                            on Welch Creek Rd, left on Cave Rocks Rd, left on
                            Hayfield Rd, right on Canyon View Trail, left to
                            go across the bridge and back to the parking area.
                            <br /><b>Elevation gain:</b> 1300 ft.
                            <br /><br />
                        </li>
                        <li><a target="_blank" href="http://www.mapmyhike.com/routes/view/344188593">10 miles, 1930 ft elevation gain, 4-5 hrs</a></li>
                    </ul>
                    <br /><br />
                    &#x1F415; The trail is dog friendly, so feel free to bring
                    your dog ($2 fee).  Once inside the fence, dogs can be
                    off-leash, provided they're well under control.
                    <br />
                </div>
                <div class="col-md-2">
                    <a target="_blank" href="dogs_off_leash_large.jpg"><img class="img-responsive h-img" src="dogs_off_leash.jpg" /></a>
                </div>
                <div class="col-md-2">
                    <a target="_blank" href="dog_rules_large.jpg"><img class="img-responsive h-img" src="dog_rules.jpg" /></a>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-md-6">
                    <br />
                    There will be cows roaming freely inside, along
                    with the accompanying smells.
                    <br /> <br />
                    Cellular reception is very limited in this area.
                    <br /><br />
                    The park opens at 8 am.
                </div>
                <div class="col-md-2">
<a target="_blank" href="park_hours_large.jpg"><img class="img-responsive h-img"  src="park_hours.jpg" /></a>
                </div>
                <div class="col-md-2">
                    <a target="_blank" href="cattle_warning_large.jpg"><img class="img-responsive h-img" src="cattle_warning.jpg" /></a>
                </div>
                <div class="col-md-2">
                    <a target="_blank" href="cow_large.jpg"><img class="img-responsive h-img" src="cow.jpg" /></a>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <br /><br />
                    <hr />
                    Maguire Peaks:<br /><br />
                    Parking at <a target="_blank" href="https://www.google.com/maps/place/37°31'59.3%22N+121°49'58.6%22W/@37.533129,-121.832934,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0">37.533129,-121.832934</a>
                    <br /><br />
                    My usual route:<br />
                    <ul>
                        <li><a target="_blank" href="http://www.mapmyhike.com/routes/view/377467223">6 miles, 3-4 hrs</a></li>
                    </ul>
                    Elevation gain: 1000 ft.
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <hr />
                    More photos from Sunol Regional Wilderness on Google Photos: <a target="_blank" href="https://photos.app.goo.gl/eNzLiYKJxMTbpu7U8">https://photos.app.goo.gl/eNzLiYKJxMTbpu7U8</a>
                </div>
            </div> <!-- /.row -->

            <div class="row">
                <br /><br />
                <div class="col-md-6">
                    <img title="Horned Lark" src="horned_lark.jpg" class="img-responsive h-img" />
                </div>
                <div class="col-md-6">
                    <img title="Killdeer" src="killdeer_in_flight.jpg" class="img-responsive h-img" />
                </div>
            </div> <!-- /.row -->

        </div> <!-- /.container-fluid -->

{% include postamble.html %}
