---
title: Hiking San Bruno Mountain
---
{% include preamble.html %}

        <div class="container-fluid">
            <div class="row">
                <h2 style="padding-left: 0.5em">San Bruno Mountain</h2>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <img class="img-responsive" style="max-height: 400px" title="View from the top" src="panorama.jpg" />

                    </div>
            </div>

            <div class="row">
                <div class="col-md-12">
<br />
Park web page: <a target="_blank" href="https://parks.smcgov.org/san-bruno-mountain-state-county-park">https://parks.smcgov.org/san-bruno-mountain-state-county-park</a>
<br /><br />
Parking: 37.695178,-122.434124 (<a target="_blank" href="https://www.google.com/maps/place/37%C2%B041'42.6%22N+122%C2%B026'02.9%22W/@37.6957086,-122.434124,318m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0">map</a>)<br />
<br />
Park hours: The Park opens at 8am. Closing time changes
seasonally, and is posted.<br />
<br />
The park's address (<a target="_blank" href="https://www.google.com/maps/place/555+Guadalupe+Canyon+Pkwy,+Brisbane,+CA+94005/@37.6968729,-122.4339347,633m/data=!3m1!1e3!4m2!3m1!1s0x808f7eb1ecd54be7:0x2b3013881bef2512!6m1!1e1">555 Guadalupe Canyon Parkway Brisbane, CA 94005</a>) will get you to the first parking lot, but you'll want to drive through and park in the second parking lot, if it's not full.
<br /><br />
Parking is $6.  Pay at the kiosk on the way in.  There may not be a ranger there, so you should bring exact change.
<br /><br />
Hiking route:&nbsp;<a target="_blank" href="http://www.mapmyhike.com/workout/298159681">8.6 miles, 3-4 hrs</a>

Elevation gain is about 900 ft<br />
<br />
The trail is NOT dog friendly &#x1F61E;<br />
<br />
Photo album: <a target="_blank" href="https://www.flickr.com/photos/regexman/sets/72157634016447389">https://www.flickr.com/photos/regexman/sets/72157634016447389</a>

                </div>
            </div>
            <div class="row">
                <br />
                <div class="col-md-6">
                    <img class="img-responsive" title="San Francisco" src="sanfrancisco.jpg" />
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" title="Butterfly" src="butterfly.jpg" />
                </div>
            </div>


        </div> <!-- /.container-fluid -->

{%include postamble.html %}        
