<!-- begin nav -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#svyNavbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="svyNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bay Area Hikes <span class="caret"></span></a>
          <ul class="dropdown-menu">
              <li><a href="{{ site.baseurl }}/black_mountain/">Black Mountain</a></li>
              <li><a href="{{ site.baseurl }}/foothills_park/">Foothills Park</a></li>
              <li><a href="{{ site.baseurl }}/milagra_ridge/">Milagra Ridge</a></li>
              <li><a href="{{ site.baseurl }}/mission_peak/">Mission Peak</a></li>
              <li><a href="{{ site.baseurl }}/montara_mountain/">Montara Mountain</a></li>
              <li><a href="{{ site.baseurl }}/mt_umunhum/">Mount Umunhum</a></li>
              <li><a href="{{ site.baseurl }}/palo_alto_baylands/">Palo Alto Baylands</a></li>
              <li><a href="{{ site.baseurl }}/rancho_san_antonio/">Rancho San Antonio</a></li>
              <li><a href="{{ site.baseurl }}/san_bruno_mountain/">San Bruno Mountain</a></li>
              <li><a href="{{ site.baseurl }}/sanborn/">Sanborn</a></li>
              <li><a href="{{ site.baseurl }}/sunol_regional_wilderness/">Sunol Regional Wilderness</a></li>
              <li><a href="{{ site.baseurl }}/sweeney_ridge/">Sweeney Ridge</a></li>
              <li><a href="{{ site.baseurl }}/windy_hill/">Windy Hill</a></li>
              <li><a href="{{ site.baseurl }}/wunderlich/">Wunderlich Park</a></li>
              <!-- <li><a href=""></a></li> -->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other Hikes<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/table_rock/">Table Rock</a>
          </ul>
        </li>
        <!-- <li><a href="">Recommendations</a></li> -->

      </ul>
    </div>
  </div>
</nav>
<!-- end nav -->
