---
title: Hiking Sweeney Ridge
---
{% include preamble.html %}

        <div class="container-fluid">
            <div class="row">
                <h2 style="padding-left: 0.5em">Sweeney Ridge &#x1F415;</h2>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <img class="img-responsive" title="" src="overlook.jpg" />
                </div>
            </div>

            <!-- put carousel here -->

            <div class="row">
                <div class="col-xs-12">
                    This is an intermediate hike that starts as short gravel
                    road, then quickly becomes a mix of single-track trails
                    and fireroad, surrounded mostly by chaparral and grasses.
                    In addition to the views of the Pacific and the Bay, this
                    hike includes a visit to the Portola Monument, indicating
                    the area where the Portola expedition discovered the San
                    Francisco Bay.  It also includes a view of the Farallon
                    Islands on a clear day.
                </div>
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-xs-12">
                <br /><br />
                More detailed description: <a target="_blank" href="https://www.hikingproject.com/trail/7016219/sweeny-ridge-loop">https://www.hikingproject.com/trail/7016219/sweeny-ridge-loop</a><br />
                Park web page: <a target="_blank" href="http://www.parksconservancy.org/visit/park-sites/sweeney-ridge.html">http://www.parksconservancy.org/visit/park-sites/sweeney-ridge.html</a><br /><br />
<!-- Parking at 1146 Fassler Ave, Pacifica, CA 94044: 37.599358,-122.479014 -->
Parking: The trailhead is at the eastern end of Fassler Ave, Pacifica 37.599358,-122.479014 (<a target="_blank" href="https://www.google.com/maps/place/37°35'57.7%22N+122°28'44.5%22W/@37.5993591,-122.4795625,19z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d37.599358!4d-122.479014">map</a>).  Park on the street nearby.
<br /><br />
The loop:<br />
<ul>
    <li><a target="_blank" href="https://www.gaiagps.com/datasummary/track/e02909e6dc7faeeaed7b2d7bfcda03af/#?layer=MapBoxOutdoorsHD,GaiaTopoRasterMeters&alpha=MapBoxOutdoorsHD:0.45,GaiaTopoRasterMeters:0.5">5.5 miles, 2-3 hrs, elevation gain 944 ft</a></li>
</ul>

<br />
&#x1F415; The trail is dog friendly, so feel free to bring your dog.<br />
<br />
Don's photos: <a target="_blank" href="https://www.flickr.com/photos/regexman/albums/72157673005741956">https://www.flickr.com/photos/regexman/albums/72157673005741956</a>
<br /><br />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive" style="max-height: 500px" title="Hawk" src="hawk.jpg" class="textwrapleft" />
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" style="max-height: 500px" title="Portola Monument" src="monument.jpg" class="textwrapleft" />
                </div>
            </div>


        </div> <!-- /.container-fluid -->

{% include postamble.html %}
