---
title: Hiking Mammoth Crest
---
{% include preamble.html %}

        <div class="container-fluid">
            <div class="row">
                <h2 style="padding-left: 0.5em">Mammoth Crest</h2>
            </div>

            <div class="row">
                <div class="col-md-12">
                    Route: <a href="http://www.mapmyhike.com/workout/662279421">10 mi, 5.5 hrs</a><br />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    More photos from Mammoth Crest on Flickr: <a href="https://www.flickr.com/photos/regexman/sets/72157646024369966">https://www.flickr.com/photos/regexman/sets/72157646024369966</a>
                </div>
            </div>
            
        </div> <!-- /.container-fluid -->

{% include postamble.html %}

