---
title: Hiking at Rancho San Antonio
---
{% include preamble.html %}

<div class="container-fluid">
  <div class="row">
    <h2 style="padding-left: 0.5em">Rancho San Antonio <img style="vertical-align: bottom" title="no dogs &#x1F61E;" src="../no_dogs.gif" /></h2>
  </div>


  <div class="row">
    <div class="col-md-12">
      <img class="img-responsive" style="max-height: 300px" title="View from Upper Rogue Valley Trail" src="View_at_Rancho_San_Antonio.jpg" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      Park web page: <a href="http://www.openspace.org/preserves/pr_rancho_san_antonio.asp">http://www.openspace.org/preserves/pr_rancho_san_antonio.asp</a>
      <br /><br />
      Parking at 37.332653,-122.087379 ({% include maps.html addr="37.332653,-122.087379" latlon="37.332653,-122.087379" %})

      <br /><br />
      Hours: open half an hour before sunrise to half an hour after sunset
      <br /><br />
      My usual routes:<br />
      <ul>
        <li><a target="_blank" href="http://www.mapmyhike.com/workout/1291330325">7.5 miles, 2.5 hrs, 740 ft elevation gain</a></li>
        <li><a target="_blank" href="http://www.mapmyhike.com/workout/1196971305">10 miles, 3.5 hrs, 1500 ft elevation gain</a></li>
      </ul>

      <br /><br />
      The trail is NOT dog friendly &#x1F61E;. <img style="vertical-align: bottom" title="no dogs &#x1F61E;" src="../no_dogs.gif" /><br /><br />
    </div>
  </div> <!-- /.row -->

  <div class="row">
    <div class="col-md-12">
      More photos from Rancho San Antonio on Google Photos: <a target="_blank" href="https://photos.app.goo.gl/RRZEfC3aWCzozhmh7">https://photos.app.goo.gl/RRZEfC3aWCzozhmh7</a>
    </div>
  </div>

  <div class="row">
    <br />
    <div class="col-md-6">
      <img class="img-responsive" style="max-height: 300px" title="Chipmunk" src="Chipmunk.jpg" />
    </div>
    <div class="col-md-6">
      <img class="img-responsive" style="max-height: 300px" title="Deer" src="Deer.jpg" />
    </div>
  </div>

</div> <!-- /.container-fluid -->

{% include postamble.html %}
