---
title: Hiking Milagra Ridge
---
{% include preamble.html %}

        <div class="container-fluid">
            <div class="row">
                <h2 style="padding-left: 0.5em">Milagra Ridge &#x1F415;</h2>
            </div>

            <div class="row">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        
                    </ol>
            <div class="carousel-inner" role="listbox">

                <div class="item active" align="center">
                    <a target="_blank" title="Click for larger image" href="carousel/IMG_0375.jpg"><img class="first-slide" src="carousel/IMG_0375_small.jpg" style="max-height: 300px"></a>
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <a target="_blank" title="Click for larger image" href="carousel/IMG_0378.jpg"><img class="second-slide" src="carousel/IMG_0378_small.jpg" style="max-height: 300px"></a>
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <a target="_blank" title="Click for larger image" href="carousel/IMG_0379.jpg"><img class="third-slide" src="carousel/IMG_0379_small.jpg" style="max-height: 300px"></a>
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <a target="_blank" title="Click for larger image" href="carousel/IMG_0381.jpg"><img class="fourth-slide" src="carousel/IMG_0381_small.jpg" style="max-height: 300px"></a>
                </div> <!-- /.item -->


            </div> <!-- /.carousel-inner -->

            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

                </div> <!-- /.carousel -->
            </div> <!-- /.row -->
        
            <div class="row">
                <div class="col-xs-12">
                    <br />
                    Parking at 37.643220,-122.488838 (<a target="_blank" href="https://www.google.com/maps/place/37°38'35.6%22N+122°29'19.8%22W/@37.6432211,-122.4893852,19z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d37.64322!4d-122.488838">map</a>).  There's a parking lot at the south end of Connemara Dr.
                    <br />
                    Park web page: <a target="_blank" href="https://www.nps.gov/goga/miri.htm">https://www.nps.gov/goga/miri.htm</a>
                    <br />
                    HikingProject page: <a target="_blank" href="https://www.hikingproject.com/trail/7007447/milagra-battery-trail">https://www.hikingproject.com/trail/7007447/milagra-battery-trail</a>
                    <br /><br />
                    Route: <a target="_blank" href="http://www.mapmyhike.com/workout/1927952744">3.3 miles, 1.5 hrs</a>
                    <br /><br />
                    &#x1F415; The trail is dog friendly (leash required), so feel free to bring your dog.
                </div>
            </div>

            <div class="row">
                <br />
                <div class="col-md-12">
                    Photos on Flickr: <a target="_blank" href="https://www.flickr.com/photos/regexman/sets/72157675155973133">https://www.flickr.com/photos/regexman/sets/72157675155973133</a>
                </div>
            </div>
            
        </div> <!-- /.container-fluid -->
        
{% include postamble.html %}
