---
title: Hiking at Windy Hill
---
{% include preamble.html %}

        <div class="container-fluid">
            <div class="row">
                <h2 style="padding-left: 0.5em">Windy Hill &#x1F415;</h2>
            </div>

            <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
                <li data-target="#myCarousel" data-slide-to="8"></li>
                <li data-target="#myCarousel" data-slide-to="9"></li>
            </ol>
            <div class="carousel-inner" role="listbox">

                <div class="item active" align="center">
                    <img class="first-slide" src="carousel/From_Windy_Hill_Summit.jpg" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/Owl.jpg" title="Owl" style="max-height: 300px">
                </div> <!-- /.item -->
                <div class="item" align="center">
                    <img class="second-slide" src="carousel/Fox.jpg" title="Gray Fox" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/coopers_hawk.jpg" title="Cooper's Hawk" style="max-height: 300px">
                </div> <!-- /.item -->

                <!-- <div class="item" align="center">
                    <img class="second-slide" src="carousel/coyote_in_the_rain.jpg" alt="Coyote in the rain" style="max-height: 300px">
                </div>
                --> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/coyote_jumping.jpg" title="Coyote" style="max-height: 300px">
                </div> <!-- /.item -->

                <!--
                <div class="item" align="center">
                    <img class="second-slide" src="carousel/coyote_jumping2.jpg" style="max-height: 300px">
                </div>
                --> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/Bunny.jpg" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/Butterfly.jpg" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/Caterpillar.jpg" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/Deer.jpg" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/Northern_Harrier.jpg" title="Northern Harrier" style="max-height: 300px">
                </div> <!-- /.item -->



            </div> <!-- /.carousel-inner -->

            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- /.carousel -->
        </div> <!-- /.row -->

            <div class="row">
                <div class="col-xs-12">
                    <br />Park web page: <a target="_blank" href="http://www.openspace.org/preserves/pr_windy_hill.asp">http://www.openspace.org/preserves/pr_windy_hill.asp</a>
                    <br /><br />
                    Parking at
                    <!-- <div style="display: inline" itemscope itemtype="http://schema.org/GeoCoordinates"><spanitemprop="latitude">37.376</span>,<span itemprop="longitude">-122.222968</span></div> -->
                    <div style="display: inline" class="h-geo geo"><span class="p-latitude latitude">37.376</span>,<span class="p-longitude longitude">-122.222968</span></div>
                    ({% include maps.html addr="555 Portola Rd, Portola Valley, CA 94028" waze_link="place=ChIJxU2v_YClj4ARcmWlO53CbmA&ll=37.37534060%2C-122.22335200" %}). <div class="h-card vcard" style="display: inline">Street address: <span class="p-org org" style="display: none">Windy Hill Open Space Parking</span><span class="p-street-address street-address">555 Portola Rd</span>, <span class="p-locality locality">Portola Valley<span>, <span class="p-region region">CA</span> <span class="p-postocal-code postal-code">94028</span>.</div><br /><span style="color: red">Warning</span>, do NOT just enter Windy Hill Open Space Preserve into your navigation system. It will likely take you to Skyline, which is the wrong entrance. However, searching for "Windy Hill Open Space Parking" will likely take you to the right place.
                    <br /><br />
My usual routes:<br />
<ul>
    <li><a target="_blank" href="http://www.mapmyhike.com/workout/1175612301">8 miles, 3 hrs</a></li>
    <li><a target="_blank" href="http://www.mapmyhike.com/workout/1154498127">6 miles, 2.5 hrs</a></li>
</ul>

The hike to the peak is about 1300 ft of elevation gain in 3 miles.<br />
<img src="elevation.jpg" />

<br /><br />
&#x1F415; The trail is dog friendly (leash required), so feel free to bring your dog.<br /><br />
More photos from Windy Hill on Flickr: <a target="_blank" href="https://www.flickr.com/photos/regexman/albums/72157669928155803">https://www.flickr.com/photos/regexman/albums/72157669928155803</a><br /><br />

                </div>
                <!--
                <div class="col-xs-4">
                    <a target="_blank" href="parking.jpg"><img src="parking_small.jpg" class="img-responsive" /></a>
                </div>
                -->
            </div>

        </div> <!-- /.container-fluid -->

{% include postamble.html %}
