---
title: Hiking at Mount Umunhum
---
{% include preamble.html %}

        <div class="container-fluid">
            <div class="row">
                <h2 style="padding-left: 0.5em">Mount Umunhum <img style="vertical-align: bottom; max-height: 40" title="no dogs &#x1F61E;" src="../no_dogs.gif" /></h2>
            </div>

            <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
                <li data-target="#myCarousel" data-slide-to="8"></li>
            </ol>
            <div class="carousel-inner" role="listbox">

                <div class="item active" align="center">
                    <img class="first-slide" src="carousel/panorama.jpg" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/panorama_summit.jpg" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="third-slide" src="carousel/radar_tower.jpg" style="max-height: 300px">
                </div> <!-- /.item -->
                
                <div class="item" align="center">
                    <img class="fourth-slide" src="carousel/fog.jpg" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="fifth-slide" src="carousel/east_bay.jpg" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="sixth-slide" src="carousel/radar_tower2.jpg" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="seventh-slide" src="carousel/nexrad.jpg" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="eight-slide" src="carousel/helipad.jpg" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="ninth-slide" src="carousel/monument.jpg" style="max-height: 300px">
                </div> <!-- /.item -->


            </div> <!-- /.carousel-inner -->
            
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            
        </div> <!-- /.carousel -->
        </div> <!-- /.row -->

            
            <div class="row">
                <div class="col-xs-12">
                    Park web page: <a target="_blank" href="https://www.openspace.org/mount-umunhum-sierra-azul">https://www.openspace.org/mount-umunhum-sierra-azul</a>
                    <br /><br />
                    Parking (be there before 8 am if you want parking):
                    <ul>
                        <!-- <li>37.159611,-121.875477</li> -->
                        <li>The parking lot entrace is at 37.15951,-121.87577</li>
                        <li>In Waze, search for "Parking - Bald Mountain Trailhead", or click <a href="https://waze.com/ul/h9q976ssvy">here to open Waze with the correct address</a></li>
                        <li>In Google Maps, search for "Sierra Azul Open Space Preserve Mt Umunhum Rd Parking Lot": <a href="https://goo.gl/maps/igPaDYXEkAk">https://goo.gl/maps/igPaDYXEkAk</a></li>
                        <li>In Apple Maps, search for "Bald Mountain Parking Area"</li>
                    </ul>

                    The trail head for the summit is across the street from the parking lot.
                    
                    <!--
                    <address style="display: inline">37.376,-122.222968</address>
                    (<a target="_blank" href="https://www.google.com/maps/place/37%C2%B022'33.6%22N+122%C2%B013'22.7%22W/@37.376,-122.222968,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0">map</a>)
                    -->

                    <br /><br />
Route:<br />
<ul>
    <li><a target="_blank" href="http://www.mapmyhike.com/workout/2583486646">8.7 miles, 3 hrs</a></li>
</ul>

The hike to the peak is 1227 ft of elevation gain in a little over 4 miles.

                    <br /><br />
                    The trail is NOT dog friendly &#x1F61E;. <img style="vertical-align: bottom" title="no dogs &#x1F61E;" src="../no_dogs.gif" />


<br /><br />
More photos from Mount Umunhum on Flickr: <a target="_blank" href="https://www.flickr.com/photos/regexman/albums/72157688395689911">https://www.flickr.com/photos/regexman/albums/72157688395689911</a><br /><br />
                </div>
            </div>
            
        </div> <!-- /.container-fluid -->

{% include postamble.html %}        
