---
title: Hiking Black Mountain
---
{% include preamble.html %}

<div class="container-fluid">
  <div class="row">
    <h2 style="padding-left: 0.5em">Black Mountain <img style="vertical-align: bottom" title="no dogs &#x1F61E;" src="../no_dogs.gif" /></h2>
  </div>

  <div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">

        <div class="item active" align="center">
          <img class="first-slide" src="carousel/On_Black_Mountain.jpg" title="" style="max-height: 275px">
        </div> <!-- /.item -->

        <div class="item" align="center">
          <img class="second-slide" src="carousel/DSCN0778.jpg" title="" style="max-height: 275px">
        </div> <!-- /.item -->

      </div> <!-- /.carousel-inner -->

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div> <!-- /.carousel -->
  </div> <!-- /.row -->

  <div class="row">
    <div class="col-xs-12">
      <br />Links:
      <ul>
        <li><a href="http://www.redwoodhikes.com/Skyline/BlackMountain.html">Redwood Hikes</a></li>
        <li><a href="https://www.hikingproject.com/trail/7027718/black-mountain-via-black-mountain-trail">Hiking Project</a></li>
        <li><a href="https://www.alltrails.com/trail/us/california/black-mountain-via-rhus-ridge">AllTrails</a></li>
        <li><a href="https://bahiker.com/southbayhikes/ranchoblack.html">Bay Area Hiker</a></li>
      </ul>
      <br />
      Parking at:
      <div style="display: inline" class="h-geo geo"><span class="p-latitude latitude">37.351980</span>,<span class="p-longitude longitude">-122.137839</span></div>
      ({% include maps.html addr="37.351980,-122.137839" google_place="Rhus Ridge Trailhead" waze_link="place=ChIJqWFznq-xj4ARB-6t2tU9Xyg&ll=37.351980%2C-122.137839" %}).

      <br />
      Some of my routes:<br />
      <ul>
        <li>Rhus Ridge traihead: <a target="_blank" href="https://www.mapmyhike.com/workout/390635159">10.5 miles, 3500 ft elevation gain</a></li>

        <li>Rancho San Antonio trailhead: <a target="_blank" href="https://www.mapmyhike.com/workout/277901637">12.6 miles, 2600 ft elevation gain</a></li>
      </ul>

      <br />

      <img style="vertical-align: bottom" title="no dogs &#x1F61E;" src="../no_dogs.gif" />Unfortunately, dogs are not allowed on this trail. &#x1F61E;
      <br /><br />

      More photos from Black Mountain on Google Photos: <a target="_blank" href="https://photos.app.goo.gl/6KuYnzii9BfBmrgJ7">https://photos.app.goo.gl/6KuYnzii9BfBmrgJ7</a><br /><br />

    </div> <!-- col -->
  </div> <!-- row -->

</div> <!-- /.container-fluid -->

{% include postamble.html %}
