---
title: Hiking Black Mountain
---
{% include preamble.html %}

        <div class="container-fluid">
            <div class="row">
                <h2 style="padding-left: 0.5em">Black Mountain <img style="vertical-align: bottom" title="no dogs &#x1F61E;" src="../no_dogs.gif" /></h2>
            </div>

            <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>

                <!-- <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li> -->
            </ol>
            <div class="carousel-inner" role="listbox">

                <div class="item active" align="center">
                    <img class="first-slide" src="carousel/On_Black_Mountain.jpg" title="" style="max-height: 300px; max-width: 1024">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/DSCN0778.jpg" title="" style="max-height: 300px; max-width: 1024">
                </div> <!-- /.item -->

                <!-- <div class="item" align="center">
                    <img class="second-slide" src="carousel/coyote_in_the_rain.jpg" alt="Coyote in the rain" style="max-height: 300px">
                </div>
                --> <!-- /.item -->

            </div> <!-- /.carousel-inner -->

            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- /.carousel -->
        </div> <!-- /.row -->

            <div class="row">
                <div class="col-xs-12">
                    <br />Links:
                    <ul>
                        <li><a href="http://www.redwoodhikes.com/Skyline/BlackMountain.html">Redwood Hikes</a></li>
                        <li><a href="https://www.hikingproject.com/trail/7027718/black-mountain-via-black-mountain-trail">Hiking Project</a></li>
                        <li><a href="https://www.alltrails.com/trail/us/california/black-mountain-via-rhus-ridge">AllTrails</a></li>
                        <li><a href="https://bahiker.com/southbayhikes/ranchoblack.html">Bay Area Hiker</a></li>
                    </ul>
                    <br />
                    Parking at:<br />
                    <ul>
                        <li>Google Maps Query: Google Maps query: Rhus Ridge Trailhead, Rhus Ridge Trail, Los Altos Hills, CA 94022</li>
                        <li>Google Maps link: <a href="http://maps.google.com/maps?f=d&source=s_d&saddr=&daddr=37.352492,-122.138212&geocode=&hl=en&mra=mift&mrsp=0&sz=18&sll=37.352087,-122.137322&sspn=0.004047,0.005858&ie=UTF8&ll=37.352829,-122.137928&spn=0.064475,0.093727&z=14">http://maps.google.com/maps?f=d&source=s_d&saddr=&daddr=37.352492,-122.138212&geocode=&hl=en&mra=mift&mrsp=0&sz=18&sll=37.352087,-122.137322&sspn=0.004047,0.005858&ie=UTF8&ll=37.352829,-122.137928&spn=0.064475,0.093727&z=14</a></li>
                        <li>coordinates for turnoff from Rhus Ridge Rd: <div class="geo" style="display: inline">
                            <span class="latitude">37.3524920</span>,<span class="longitude">-122.1382120</span>
                        </div></li>
                    </ul>

                    <!-- <div style="display: inline" itemscope itemtype="http://schema.org/GeoCoordinates"><spanitemprop="latitude">37.376</span>,<span itemprop="longitude">-122.222968</span></div> -->

                    <br />
Some of my routes:<br />
<ul>
    <li>Rhus Ridge traihead: <a target="_blank" href="https://www.mapmyhike.com/workout/390635159">10.5 miles</a></li>

    <li>Rancho San Antonio trailhead: <a target="_blank" href="https://www.mapmyhike.com/workout/277901637">12.6 miles</a></li>
</ul>

<br />

<img style="vertical-align: bottom" title="no dogs &#x1F61E;" src="../no_dogs.gif" />Unfortunately, dogs are not allowed on this trail. &#x1F61E;
<br /><br />

More photos from Black Mountain on Google Photos: <a target="_blank" href="https://photos.app.goo.gl/6KuYnzii9BfBmrgJ7">https://photos.app.goo.gl/6KuYnzii9BfBmrgJ7</a><br /><br />

                </div>
            </div>

        </div> <!-- /.container-fluid -->

{% include postamble.html %}
