---
title: Hiking Mission Peak
---
{% include preamble.html %}

        <div class="container-fluid">
            <div class="row">
                <h2 style="padding-left: 0.5em">Mission Peak &#x1F415;</h2>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <img title="View from the peak" src="view_from_peak.jpg" class="img-responsive h-img" />
                </div>
            </div>

            <div class="row">
                <br />
                <div class="col-md-9">
            

Park web page: <a href="http://www.ebparks.org/parks/mission">http://www.ebparks.org/parks/mission</a><br />
<br />

Parking at Ohlone College (parking garage): 37.528097,-121.912835 (<a target="_blank" href="https://www.google.com/maps/place/37%C2%B031'41.1%22N+121%C2%B054'46.2%22W/@37.5280942,-121.9129288,209m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0">map</a>)

<br /><br />
Trailhead: 37.527314,-121.912648 (<a href="_blank" href="https://www.google.com/maps/place/37%C2%B031'38.3%22N+121%C2%B054'45.5%22W/@37.5275372,-121.9127572,209m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0">map</a>)


<!-- <a target="_blank" title="Parking" href="https://www.google.com/maps/place/37%C2%B031'41.1%22N+121%C2%B054'46.2%22W/@37.5280942,-121.9129288,16z/data=!4m2!3m1!1s0x0:0x0"><img src="parking.jpg" /></a>
<a target="_blank" title="Trailhead" href="https://www.google.com/maps/place/37%C2%B031'38.3%22N+121%C2%B054'45.5%22W/@37.5275372,-121.9127572,209m/data=!3m1!1e3!4m2!3m1!1s0x0:0x0"><img src="trailhead.jpg" /></a>
-->

                </div>
                <div class="col-md-3">
                    <img title="Kestrel" src="kestrel.jpg" class="textwrapright" style="clear: both;" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

Route:&nbsp;<a target="blank" href="http://www.mapmyhike.com/workout/1123457471">http://www.mapmyhike.com/workout/1123457471</a>.  It's about 7.5 miles and usually takes just under 3 hours.  The elevation gain is around 2000 ft, so it's not a beginner hike.

<br /><br />
&#x1F415; The trail is dog friendly, so you're welcome to bring your furry friends.<br /><br />
                </div>
            </div> <!-- ./row -->
            <div class="row">
                <div class="col-md-6">

I park at Ohlone college. If you take the Pine St entrance, you'll see the parking garage on the left. The fee is $4 for the day. The payment kiosk is across the garage from the first entrance.

<br /><br />
The trailhead is on Pine St across from the parking garage.
                </div> <!-- ./col-md6 -->
                <div class="col-md6">
                    <img title="parking" src="parking2.jpg" class="img-responsive h-img" />

                </div>
            </div>

            <div class="row">
                <br />
                <div class="col-md-6">
                    <img title="Red-tailed Hawk" src="red_tailed_hawk.jpg" class="img-responsive h-img" />
                </div>
                <div class="col-md-6">
                    <img title="Jackrabbit" src="jackrabbit.jpg" class="img-responsive h-img"  />
                </div>
            </div>

        </div> <!-- /.container-fluid -->

{% include postamble.html %}
        
