---
title: Hiking in Foothills Park
---
{% include preamble.html %}

        <div class="container-fluid">
            <div class="row">
                <h2 style="padding-left: 0.5em">Foothills Park <a target="_blank" href="https://www.cityofpaloalto.org/gov/depts/csd/parks/preserves/dogs.asp">&#x1F415;</a></h2>
            </div>

            <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <!--
                <li data-target="#myCarousel" data-slide-to="7"></li>
                <li data-target="#myCarousel" data-slide-to="8"></li>
                <li data-target="#myCarousel" data-slide-to="9"></li>
                -->
            </ol>
            <div class="carousel-inner" role="listbox">

                <div class="item active" align="center">
                    <img class="first-slide" src="carousel/Fox_With_Lunch.jpg" title="Fox with lunch" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/Spider_eating_cicada.jpg" title="Spider eating a cicada" style="max-height: 300px">
                </div> <!-- /.item -->
                <div class="item" align="center">
                    <img class="second-slide" src="carousel/Egret.jpg" title="Egret" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/Deer2.jpg" title="Deer" style="max-height: 300px">
                </div> <!-- /.item -->

                <!-- <div class="item" align="center">
                    <img class="second-slide" src="carousel/coyote_in_the_rain.jpg" alt="Coyote in the rain" style="max-height: 300px">
                </div>
                --> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/Coot.jpg" title="Coot" style="max-height: 300px">
                </div> <!-- /.item -->

                <!--
                <div class="item" align="center">
                    <img class="second-slide" src="carousel/coyote_jumping2.jpg" style="max-height: 300px">
                </div>
                --> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/Deer1.jpg" title="Deer" style="max-height: 300px">
                </div> <!-- /.item -->

                <div class="item" align="center">
                    <img class="second-slide" src="carousel/Deer.jpg" title="Deer" style="max-height: 300px">
                </div> <!-- /.item -->

            </div> <!-- /.carousel-inner -->

            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- /.carousel -->
        </div> <!-- /.row -->

            <div class="row">
                <div class="col-xs-12">
                    <br />Park web page: <a target="_blank" href="https://www.cityofpaloalto.org/gov/depts/csd/parks/preserves/foothills/default.asp">https://www.cityofpaloalto.org/gov/depts/csd/parks/preserves/foothills/default.asp</a>
                    <br /><br />
                    Parking at
                    <!-- <div style="display: inline" itemscope itemtype="http://schema.org/GeoCoordinates"><spanitemprop="latitude">37.376</span>,<span itemprop="longitude">-122.222968</span></div> -->
                    <address style="display: inline">37.362935,-122.171777</address>
                    (<a target="_blank" href="https://goo.gl/maps/sFSagxtyzFJc6bVu7">map</a>). GPS street address: 11799 Page Mill Road, Los Altos Hills, CA 94022.<br /><span style="color: red">Warning</span>, do NOT just enter Foothills Park into your navigation system. It will likely take you to the wrong place. The same goes for the entering the mailing address for the park.
                    <br /><br />
Some of my routes:<br />
<ul>
    <li>Los Trancos Trail: <a target="_blank" href="https://www.mapmyhike.com/workout/287248145">8 miles</a></li>
    <li><a target="_blank" href="https://www.mapmyhike.com/workout/283024197">6 miles</a></li>
</ul>

<!--
The hike to the peak is about 1300 ft of elevation gain in 3 miles.<br />
<img src="elevation.jpg" />
-->

<br /><br />
<a target="_blank" href="https://www.cityofpaloalto.org/gov/depts/csd/parks/preserves/dogs.asp">&#x1F415; Dogs</a> are only allowed in the park during (non-holiday) week days (not on weekends).<br /><br />
More photos from Foothills Park on Google Photos: <a target="_blank" href="https://photos.app.goo.gl/WGFdb8b28HLTUwdr5">https://photos.app.goo.gl/WGFdb8b28HLTUwdr5</a><br /><br />

                </div>
            </div>

        </div> <!-- /.container-fluid -->

{% include postamble.html %}
