---
title: Hiking in Table Rock
---
{% include preamble.html %}

<!-- <img title="View from the top" src="panorama.jpg" /> -->
<br />
<div class="title">Table Rock</div>
<!-- <a target="_blank" href="parking.jpg"><img src="parking_small.jpg" class="textwrapright" /></a>-->
<br />
<a target="_blank" href="http://www.southcarolinaparks.com/tablerock/introduction.aspx">Park web page</a>
<br />
<a target="_blank" href="http://www.southcarolinaparks.com/files/State%20Parks%20Files/Table%20Rock/46_table_rock.pdf">Brochure (PDF)</a>
<br />
<br />
Park hours: opens at 7 am, closes at posted time (various seasonally).
<br /><br />
Parking:<a target="_blank" href="https://www.google.com/maps/place/35%C2%B001'55.1%22N+82%C2%B042'01.0%22W/@35.0276948,-82.6984481,16z/data=!4m2!3m1!1s0x0:0x0">35.031982,-82.700272</a>
<br /><br />
Directions: From Greenville, drive north on US 276. SC 11 will join US 276 for approximately 5 miles and then branch left. Follow SC 11. Pass the first park entrance on the right, continue across the bridge, and turn right at the West Gate/Camping entrance sign. Drive .5 mile and turn right into the Table Rock State Park entrance. Drive .7 mile and turn right into the parking area across from the Nature Center.
<br /><br />
<img src="map.gif" class="textwrapright" />
Parking fee: Memorial Day Saturday through the Sunday following Thanksgiving: $5 adults; $3.25 SC seniors (age 65 & older); $3/ child age 6-15; Free for children 5 and younger. This admission includes access to our designated swimming area when it is open.
<br /><br />
Remainder of year: $2 age 16+; $1.25 SC Seniors; age 15 and younger free.
<br /><br />
Hiking routes:
<ul>
    <li>Pinnacle Mountain: <a target="_blank" href="http://www.mapmyhike.com/routes/view/871819717">7.2 miles, 3-4 hrs, elevation gain 2189&nbsp;ft</a></li>
    <li>Table Rock Mountain <a target="_blank" href="http://www.mapmyhike.com/routes/view/871822331">7.1 miles, 3-4 hrs, elevation gain 1940&nbsp;ft</a></li>
</ul>
<br /><br />
<a target="_blank" href="http://www.sctrails.net/trails/alltrails/hiking/upcountry/PinnacleMt.html">Pinnacle Mountain hike description</a>

<!-- <img title="Hummingbird" src="humming_bird.jpg" class="textwrapleft" /> -->
<!-- <img title="Fly" src="fly.jpg" class="textwrapleft" /> -->

{% include postamble.html %}
