---
title: Hiking Montara Mountain
---
{% include preamble.html %}

        <div class="container-fluid">
            <div class="row">
                <h2 style="padding-left: 0.5em">Montara Mountain &#x1F415;</h2>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <img title="View from the top" src="panorama.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <br />
<a target="_blank" href="http://www.bahiker.com/southbayhikes/mcneeranch.html">Description</a><br />
<a target="_blank" href="http://www.everytrail.com/guide/montara-mountain-mcnee-ranch-state-park/map">Map</a></br />
<hr />
<b>From the Gray Whale Cove trailhead &#x1F415;</b><br />
<br />
Parking: 37.5630556,-122.5124722 (<a target="_blank" href="https://www.google.com/maps/place/37°33'47.0%22N+122°30'44.9%22W/@37.5630621,-122.5135723,18z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0">map</a>)
<br /><br />
Hiking routes:
<ul>
    <li><a target="_blank" href="http://www.mapmyhike.com/workout/1402201249/">10.5 miles, 4-5 hrs</a></li>
    <li><a target="_blank" href="http://www.mapmyhike.com/workout/2345434925/">6.8 miles, 2-3 hrs, steep shortcuts</a>
</ul>
<br />
Elevation gain: 1827 ft.<br />
<br />
&#x1F415; The trail from here is dog friendly. &#x1F436;

<br />

<hr />
<b>From the McNee Ranch State Park side &#x1F415;</b><br />
<br />
Parking: 37.643220,-122.488838 (<a target="_blank" href="https://www.google.com/maps/place/37%C2%B033'14.1%22N+122%C2%B030'44.9%22W/@37.553924,-122.512465,834m/data=!3m2!1e3!4b1!4m2!3m1!1s0x0:0x0">map</a>)
<br /><br />
Hiking route: <a target="_blank" href="http://www.mapmyhike.com/routes/view/875730343">7.5 miles, 3-4 hrs</a>
<br />
Elevation gain: about 1700 ft.<br />
<br />
&#x1F415; The trail from here is dog friendly. &#x1F436;

<br />
<hr />
<b>From the San Pedro Valley Park side:</b><br />
<br />
Park web page: <a target="_blank" href="https://parks.smcgov.org/montara-mountain-trail">https://parks.smcgov.org/montara-mountain-trail</a>
<br />
<br />
Park hours: opens at 8 am, closes at posted time (various seasonally).
<br /><br />
Parking: 37.578691,-122.475421 (<a target="_blank" href="https://www.google.com/maps/place/37%C2%B034'43.3%22N+122%C2%B028'31.5%22W/@37.578691,-122.475421,315m/data=!3m2!1e3!4b1!4m2!3m1!1s0x0:0x0">map</a>) in San Petro Valley Park.<br />
<br />
The park's street address (<a target="_blank" href="https://www.google.com/maps/place/600+Oddstad+Blvd,+Pacifica,+CA+94044/@37.5806214,-122.4763966,633m/data=!3m1!1e3!4m2!3m1!1s0x808f70ec8c3d6cfb:0xb4414184ff9ab60a">600 Oddstad Blvd, Pacifica, CA 94044</a>) will get you close, but you'll have to continue southwest on Oddstad Blvd to see the park entrance.
<br /><br />
Parking fee: $6
<br /><br />
Hiking route:&nbsp;<a target="_blank" href="http://www.mapmyhike.com/workout/292420573">8.5 miles, 3-4 hrs</a>
<br /><br />
Elevation gain is about 1600 ft<br />
<br />
The trail from here is NOT dog friendly &#x1F61E;
<img title="no dogs &#x1F61E;" src="../no_dogs.gif" style="vertical-align: bottom" />
<hr />

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    More photos from Montara Mountain on Flickr: <a target="_blank" href="https://www.flickr.com/photos/regexman/albums/72157672070021391">https://www.flickr.com/photos/regexman/albums/72157672070021391</a>
                </div>
            </div>

            <div class="row">
                <br />
                <div class="col-xs-6">
                    <img class="img-responsive"  title="Hummingbird" src="humming_bird.jpg" />
                </div>
                <div class="col-xs-6">
                    <img class="img-responsive" title="Fly" src="fly.jpg" />
                </div>
            </div>

        </div> <!-- /.container-fluid -->

{% include postamble.html %}
