---
title: Hiking in Sanborn County Park
---
{% include preamble.html %}

        <div class="container-fluid">
            <div class="row">
                <h2 style="padding-left: 0.5em">Sanborn County Park &#x1F415;</h2>
            </div>

            <div class="row">
                <div class="col-xs-12">


<br />
Park web page: <a target="_blank" href="https://www.sccgov.org/sites/parks/parkfinder/Pages/Sanborn.aspx">https://www.sccgov.org/sites/parks/parkfinder/Pages/Sanborn.aspx</a>
<br />
<hr />
Parking at <a target="_blank" href="https://www.google.com/maps/place/37°14'04.7%22N+122°03'46.5%22W/@37.2346303,-122.0650967,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x0">37.234626,-122.062908</a>.  There ia parking fee.
<br /><br />

&#x1F415; The park is dog friendly in most places, so feel free to bring your dog: <a target="_blank" href="https://www.sccgov.org/sites/parks/Activities/DogParks/Pages/DogParks.aspx">https://www.sccgov.org/sites/parks/Activities/DogParks/Pages/DogParks.aspx</a><br />
<br />
The park opens at 8 am.

                </div>
            </div>
        </div> <!-- /.container-fluid -->


{% include postamble.html %}
